@media screen and (min-width: 680px) {
    header {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
    }

    .menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu a {
        flex: 1 1 0;
        display: block;
        align-content: center;
        min-width: 80px;
    }

    #hamburger-icon,
    #x-icon {
        display: none;
    }


}