/* CSS variables for common settings */
:root {
    --header-font: 400 40px "DM Serif Display", serif;
    --body-font: 400 16px "DM Sans", sans-serif;
    --primary-text-color: #111111;
    --primary-color: #c2d3cd;
    --secondary-text-color: #eeeeee;
    --secondary-color: #1d263b;
    --highlight-color: #0f7173;

}

/* Reset styles for page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset styles for forms */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

body {
    font: var(--body-font);
    color: var(--primary-text-color)
}

header {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    padding: 5px 20px;
    margin-bottom: 20px;
}

h1 {
    font: var(--header-font);
    text-align: center;
}

main {
    padding: 0px 20px;
}

footer {
    display: block;
    text-align: center;
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    margin-top: 20px;
    padding: 10px 20px;
}

/* Form styles */
form {
    background-color: var(--primary-color);
    padding: 10px 0;
    margin: 0 auto;
    max-width: 500px;
}

label,
fieldset,
input[type="submit"] {
    display: block;
    margin: 10px 20px;
    min-height: 44px;
    font-weight: bold;
}

select,
textarea,
input[type="text"],
input[type="date"] {
    display: block;
    width: 100%;
    min-height: 44px;
    padding: 10px;
}

fieldset {
    border: none;
}

fieldset label {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    width: 44px;
    height: 44px;
}

input[type="submit"] {
    display: block;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px var(--primary-text-color);
    width: calc(100% - 40px);
    font-size: 1.2rem;
    background-color: var(--highlight-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: var(--secondary-text-color);
    color: var(--highlight-color);
}

.italicize {
    font-style: italic;
}

.optional {
    color: var(--secondary-color);
}

.emoticon {
    font-size: 44px;
    padding: 0;
}

select:focus,
input:focus,
textarea:focus  {
    border-bottom: 5px solid var(--highlight-color);
    box-shadow: 5px 5px 10px var(--primary-text-color) ;
}

/* Styles for review counter page */
#review-confirmation p {
    background-color: var(--primary-color);
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
}

#review-counter {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Style changes for larger screens */
@media screen and (min-width: 600px) {
    label,
    fieldset,
    input[type="submit"] {
        min-height: 20px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 20px;
        height: 20px;
    }

    .emoticon {
        font-size: 20px;
    }
}